/* Webfont: OffBitTrial-StackBold */@font-face {
    font-family: 'OffBitTrialStack';
    src: url('OffBitTrial-StackBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-StackBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-StackBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-StackBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-StackBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-StackBold.svg#OffBitTrial-StackBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

