/* Webfont: OffBitTrial-RingBold */@font-face {
    font-family: 'OffBitTrialRing';
    src: url('OffBitTrial-RingBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-RingBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-RingBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-RingBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-RingBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-RingBold.svg#OffBitTrial-RingBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

