/* Webfont: OffBitTrial-PlusBold */@font-face {
    font-family: 'OffBitTrialPlus';
    src: url('OffBitTrial-PlusBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-PlusBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-PlusBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-PlusBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-PlusBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-PlusBold.svg#OffBitTrial-PlusBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

