/* Webfont: OffBitTrial-LeftBold */@font-face {
    font-family: 'OffBitTrialLeft';
    src: url('OffBitTrial-LeftBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-LeftBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-LeftBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-LeftBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-LeftBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-LeftBold.svg#OffBitTrial-LeftBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

