/* Webfont: OffBitTrial-Star */@font-face {
    font-family: 'OffBitTrialStar';
    src: url('OffBitTrial-Star.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-Star.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-Star.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-Star.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-Star.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-Star.svg#OffBitTrial-Star') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

