/* Webfont: OffBitTrial-101Bold */@font-face {
    font-family: 'OffBitTrial101';
    src: url('OffBitTrial-101Bold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-101Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-101Bold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-101Bold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-101Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-101Bold.svg#OffBitTrial-101Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

