/* Webfont: OffBitTrial-DotBold */@font-face {
    font-family: 'OffBitTrialDot';
    src: url('OffBitTrial-DotBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-DotBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-DotBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-DotBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-DotBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-DotBold.svg#OffBitTrial-DotBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

