/* Webfont: OffBitTrial-Pixel */@font-face {
    font-family: 'OffBitTrialPixel';
    src: url('OffBitTrial-Pixel.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-Pixel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-Pixel.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-Pixel.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-Pixel.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-Pixel.svg#OffBitTrial-Pixel') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

