/* Webfont: OffBitTrial-PixelBold */@font-face {
    font-family: 'OffBitTrialPixel';
    src: url('OffBitTrial-PixelBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-PixelBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-PixelBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-PixelBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-PixelBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-PixelBold.svg#OffBitTrial-PixelBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

