/* Webfont: OffBitTrial-CrossBold */@font-face {
    font-family: 'OffBitTrialCross';
    src: url('OffBitTrial-CrossBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-CrossBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-CrossBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-CrossBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-CrossBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-CrossBold.svg#OffBitTrial-CrossBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

