/* Webfont: OffBitTrial-RightBold */@font-face {
    font-family: 'OffBitTrialRight';
    src: url('OffBitTrial-RightBold.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-RightBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-RightBold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-RightBold.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-RightBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-RightBold.svg#OffBitTrial-RightBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

