/* Webfont: OffBitTrial-Down */@font-face {
    font-family: 'OffBitTrialDown';
    src: url('OffBitTrial-Down.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-Down.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-Down.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-Down.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-Down.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-Down.svg#OffBitTrial-Down') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

