/* Webfont: OffBitTrial-Ring */@font-face {
    font-family: 'OffBitTrialRing';
    src: url('OffBitTrial-Ring.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-Ring.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-Ring.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-Ring.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-Ring.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-Ring.svg#OffBitTrial-Ring') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

