/* Webfont: OffBitTrial-Tilt */@font-face {
    font-family: 'OffBitTrialTilt';
    src: url('OffBitTrial-Tilt.eot'); /* IE9 Compat Modes */
    src: url('OffBitTrial-Tilt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OffBitTrial-Tilt.woff2') format('woff2'), /* Modern Browsers */
         url('OffBitTrial-Tilt.woff') format('woff'), /* Modern Browsers */
         url('OffBitTrial-Tilt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OffBitTrial-Tilt.svg#OffBitTrial-Tilt') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

